In [1]:
import pandas as pd
import altair as alt
from urllib.error import HTTPError

In [2]:
def claim(claim_hash, cols_claim, data_claim):
    try:
        df_claim = pd.read_json(
            f"https://api.flipsidecrypto.com/api/v2/queries/{claim_hash}/data/latest",
            convert_dates=["BLOCK_TIMESTAMP"],
        )
    except:
        return pd.DataFrame(data_claim[claim_hash],columns=cols_claim[claim_hash])
    if(len(df_claim.columns)==0):
        return pd.DataFrame(data_claim[claim_hash],columns=cols_claim[claim_hash])
    return df_claim

In [3]:
def get_url(url):
    return pd.read_csv(url, index_col=0)

In [36]:
user_stats = '334d8aa0-f9a3-4a9f-a138-3e35583f9477'
airdrop_claims = 'e6cabd22-1a53-4e7e-80ff-daab555ceac0'
lba_deposits = '3fe6f76e-f7a3-4459-b3f8-af18dcf34a58'
mars_roi = ''

In [37]:
cols_claim = {
    user_stats : ['SENDER', 'DURATION', 'AMOUNT'],
    airdrop_claims : ['SENDER','AMOUNT','TIME'],
    lba_deposits : ['SENDER','AMOUNT','DENOM','ACTION','TIME','AIRDROP'],
    mars_roi : ['3 months','6 months','9 months','12 months','15 months','18 months']
}

In [38]:
data_claim = {
               mars_roi : [
          [1.695441e+07, 1.329435e+07,  4.737131e+06,  3.118435e+06,  1.032555e+06,  4.229810e+07],
           [3.000000e+00,  6.000000e+00,  9.000000e+00,  1.200000e+01,  1.500000e+01,  1.800000e+01],
          [1.000000e+00,  2.800000e+00,  5.200000e+00,  8.000000e+00, 1.120000e+01,  1.470000e+01]],
    user_stats : [['user1_1',3,10],
                  ['user1_2',3,3],
                  ['user1_3',3,4],
                  ['user1_4',3,67],
                  ['user1_5',3,33],
                 ['user1',9,20],
                 ['user1',18,15],
                 ['user2',3,10],
                 ['user2',6,120],
                 ['user2',18,13],
                 ['user2',3,10],
                 ['user3',6,120],
                 ['user3',18,13]],
    airdrop_claims :
        [
            ['user1',300,'2021-09-21T07:00:00Z'],
            ['user2',70,'2021-09-21T07:00:00Z'],
            ['user3',34,'2021-09-21T07:00:00Z'],
            ['user1_1',132,'2021-09-21T07:00:00Z'],
            ['user4',132,'2021-09-21T07:00:00Z']
        ],
    lba_deposits : [['user1_1',20,'MARS','deposit','2021-09-21T08:00:00Z',True],
                    ['user1_1',50,'UST','deposit','2021-09-21T08:00:00Z',None],
                    ['user2',70,'MARS','deposit','2021-09-21T08:00:00Z',None],
                    ['user2',80,'UST','deposit','2021-09-21T08:00:00Z',None],
                    ['user2',10,'UST','withdraw','2021-09-21T09:00:00Z',None],
                    ['user1',70,'MARS','deposit','2021-09-21T08:00:00Z',True],
                    ['user4',132,'MARS','deposit','2021-09-21T09:00:00Z',None],
                    ['user1_5',132,'MARS','deposit','2021-09-21T09:00:00Z',None]]}

### Data

In [39]:
mars_roi_df = claim(mars_roi,cols_claim,data_claim)
mars_roi_df.columns = [c.lower() for c in mars_roi_df.columns]
mars_roi_df.index = ['UST deposited','n_months','boost']
mars_roi_df

,3 months,6 months,9 months,12 months,15 months,18 months
UST deposited,16954410.0,13294350.0,4737131.0,3118435.0,1032555.0,42298100.0
n_months,3.0,6.0,9.0,12.0,15.0,18.0
boost,1.0,2.8,5.2,8.0,11.2,14.7

**User stats**

In [40]:
user_stats_df = claim(user_stats,cols_claim,data_claim)
user_stats_df.columns = [c.lower() for c in user_stats_df.columns]
user_stats_df

            amount  duration                                        sender
0        85.000000        12  terra1fwwsapmqscgwjqlkpguetuvuky90f665y4r5ef
1       282.940000        18  terra18u5fwgtwqpduy7hj0hh3845vec7gs32re2qc6a
2       100.000000         9  terra1337gs88fm9mdm7tkfy60qhrx8h9rxda7wy9kla
3      2700.000000        18  terra1yv9p3u66t2ewqseclppggulrwes490zeyyp2xl
4       250.070000        12  terra19muvlck4crguc80cpknx3y7nt6q4mv7t9ytu30
...            ...       ...                                           ...
13585    34.991305        18  terra1xcsmh4ythah69w4yjlfgxyes0k43a0rf8t6rm6
13586    51.000000         9  terra10evlz5sd49lph3auurq4xw6d40ydywg6ycjnte
13587   500.000000         6  terra1tjhrcqgc7hl06uqcjufax4eu8juez9jxtxy5jz
13588  1000.000000         3  terra178323rw4h4pehlprxzek8dcteytd40d486rfuu
13589   495.790617        18  terra1ely6yv0sfyq8szwhk3ade6ml926athndyrmjvw

[13590 rows x 3 columns]

**Airdrop**

In [41]:
airdrop_claims_df = claim(airdrop_claims,cols_claim,data_claim)
airdrop_claims_df.columns = [c.lower() for c in airdrop_claims_df.columns]
airdrop_claims_df

,amount,sender,time
0,40.276617,terra162qqrygw52g5xuyj8dq2yqzhfcj6xh67kpxrgl,2022-02-28 15:00:00.000
1,36.946445,terra18gle75g784wy9ypr80f4h5acv6k4q92s6a9lec,2022-02-28 12:00:00.000
2,18.473222,terra1rzzw44nynvnx5cxf5l5qjhn7d5xanzt4w89cde,2022-02-28 13:00:00.000
3,3694.644501,terra1k39fz62jerndn7d2m22y48up27h0jg9krjeqts,2022-02-28 12:00:00.000
4,40.982445,terra1fx3ptszq8kjh2uxhvs6n4cm84rcx52082a4nmv,2022-02-28 12:00:00.000
...,...,...,...
550,406.252025,terra104d00jgefw5g27ylk3e083sr8j9zjynn366d43,2022-02-28 12:00:00.000
551,958.880324,terra159cga7y9m75ptg4g0p9xkjvwv39ap6fpl0yfk9,2022-02-28 13:00:00.000
552,48.555974,terra1jzfe2sfzxvk9nzk9p68v3x8tehnfrnypt7xj9a,2022-02-28 13:00:00.000
553,18.473222,terra1xwqu7udw3d3wv3l7tlnt9gpyqh7jz2a699pvuz,2022-02-28 13:00:00.000
554,2456.938593,terra1hpe5hgu45ad0nvrcl6qakuu75lgyjhqepe25vy,2022-02-28 12:00:00.000

**LBA deposits**

In [42]:
lba_deposits_df = claim(lba_deposits,cols_claim,data_claim)
lba_deposits_df.columns = [c.lower() for c in lba_deposits_df.columns]
lba_deposits_df['time'] = pd.to_datetime(lba_deposits_df.time)
lba_deposits_df['amount'] = lba_deposits_df.apply(lambda row: -row.amount if row.action=='withdraw' else row.amount, axis=1)
lba_deposits_df

,action,airdrop,amount,denom,sender,time
0,deposit,NaN,4057.112644,MARS,terra1xx7fuk6gsejdc7zm9gwylljpt7slvj92eulslw,2022-02-28 11:00:00
1,deposit,NaN,5.074232,MARS,terra1077ptrmznztlyvh8wskvngf999cmh7y2r7lmum,2022-02-28 11:00:00
2,deposit,NaN,389.962876,MARS,terra1rnqzjlp56xxxf5zfsyhqx88nhr97e5w5t3uuwe,2022-02-28 12:00:00
3,deposit,NaN,29.836486,MARS,terra14wcmxm3ygz8lqkdk60mldua0mplgr4glwwhzve,2022-02-28 15:00:00
4,deposit,NaN,3000.000000,UST,terra1qr2ucwumpt8cenp8n2hvqn020ffd87900j3gd6,2022-02-28 12:00:00
...,...,...,...,...,...,...
2217,deposit,NaN,12.500000,UST,terra105u5h25u9755l80f9hmq4fh3svd2uv9fqr9ede,2022-02-28 13:00:00
2218,deposit,NaN,300.929983,UST,terra1vkh2plfdllv4n36h8dvrhsc855gmcy0ca3s86w,2022-02-28 12:00:00
2219,deposit,NaN,1148.000000,UST,terra1nv0yjaepaxq4d4jk3dcwvc5uam39tm4upzre55,2022-02-28 11:00:00
2220,deposit,NaN,4.272423,UST,terra1hauljz6uqkxjaft52s0fr0wvk7fa0ja5ucmtmy,2022-02-28 12:00:00
2221,deposit,NaN,0.027559,UST,terra1geplmyzdvj62ydh9exwenmt0yw5w7u7ynshz7y,2022-02-28 11:00:00

**Hourly LBA**

In [43]:
lba_deposits_df['hour'] = lba_deposits_df.time.dt.strftime("%Y-%m-%d %H:00")

In [44]:
mars = lba_deposits_df[lba_deposits_df.denom=='MARS']
ust = lba_deposits_df[lba_deposits_df.denom=='UST']

In [45]:
df_mars = mars.groupby(['denom','hour']).amount.sum().reset_index().sort_values(by='hour')
df_mars['cumsum'] = df_mars.amount.cumsum()
df_ust = ust.groupby(['denom','hour']).amount.sum().reset_index().sort_values(by='hour')
df_ust['cumsum'] = df_ust.amount.cumsum()
lba_deposits_hourly_df = df_ust.append(df_mars)
lba_deposits_hourly_df

C:\Users\aincerti\AppData\Local\Temp\ipykernel_21808\1845166223.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  lba_deposits_hourly_df = df_ust.append(df_mars)

  denom              hour         amount        cumsum
0   UST  2022-02-28 11:00  334720.841817  3.347208e+05
1   UST  2022-02-28 12:00   60885.672836  3.956065e+05
2   UST  2022-02-28 13:00  341966.226357  7.375727e+05
3   UST  2022-02-28 14:00   69391.596582  8.069643e+05
4   UST  2022-02-28 15:00  170222.141945  9.771865e+05
0  MARS  2022-02-28 11:00  605096.131952  6.050961e+05
1  MARS  2022-02-28 12:00   90616.919286  6.957131e+05
2  MARS  2022-02-28 13:00  493935.188763  1.189648e+06
3  MARS  2022-02-28 14:00  256183.218345  1.445831e+06
4  MARS  2022-02-28 15:00  521358.750466  1.967190e+06

In [46]:
m = lba_deposits_hourly_df[lba_deposits_hourly_df.denom=='MARS']
u = lba_deposits_hourly_df[lba_deposits_hourly_df.denom=='UST']
d = m.merge(u, on='hour',how='outer').fillna(0)
d['cumsum'] = d.cumsum_x / d.cumsum_y
d['denom'] = 'MARS Price'
d = d[['hour','cumsum','denom']]
lba_deposits_hourly_df = lba_deposits_hourly_df.append(d).fillna(0)

C:\Users\aincerti\AppData\Local\Temp\ipykernel_21808\1900271203.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  lba_deposits_hourly_df = lba_deposits_hourly_df.append(d).fillna(0)

**User Deposits**

In [47]:
user_mars = mars.groupby('sender').amount.sum().rename('mars').reset_index().set_index('sender')
user_ust = ust.groupby('sender').amount.sum().rename('ust').reset_index().set_index('sender')

In [48]:
users_deposits = user_mars.join(user_ust, how='outer').fillna(0)
users_deposits['total'] = users_deposits.mars+users_deposits.ust
users_deposits['mars_price'] = users_deposits.ust/users_deposits.mars

In [49]:
top_dep_by_total = users_deposits.sort_values(by='total', ascending=False).head(5)
top_dep_by_total

,mars,ust,total,mars_price
sender,,,,
terra1d8yn5y3x8sz992wrruc762fl8ydwqu8jw6fcxt,76825.968756,250000.000000,326825.968756,3.254108
terra13vedkln0u0ndvzsq76wksswa5j548kfcjdfxrw,314983.786619,0.000000,314983.786619,0.000000
terra1e5ncelsh4qhqt3s97vn43hxlhmt7zd43yszdnf,127917.610790,131612.250000,259529.860790,1.028883
terra1mrtvezrjrqhw7vh9m44kh5uecvt92y506m2yw7,226893.721450,6895.271558,233788.993008,0.030390
terra1hyp7wrjs2ewfqzths8msmcxrz5khkwmnxwy0sg,119345.945484,100000.000000,219345.945484,0.837900

In [50]:
top_dep_by_mars_price = users_deposits.sort_values(by='mars_price', ascending=False).head(5)
top_dep_by_mars_price

,mars,ust,total,mars_price
sender,,,,
terra1drsccu70uh3al8lvdc09w24350tv6stwyfpxx5,0.0,13.445135,13.445135,inf
terra1lca3zpf2hp230cqfh2xr7nppfjk62tfnsy3vk9,0.0,36.928435,36.928435,inf
terra1slzuscpfk3cnq7xvyz9m7xr6xs7krkcmy4fr9z,0.0,32.604807,32.604807,inf
terra1cknhng7nqlpwpmtvr046ndfnxcdqhu65hnw962,0.0,100.875508,100.875508,inf
terra1rx6rj5lke2hs97qt5889wwffftv8zej7erqvqr,0.0,50.000000,50.000000,inf

**Users partecipation**

In [51]:
aidrop_users = airdrop_claims_df.sender.unique()

In [52]:
aidrop_users_df = pd.DataFrame(aidrop_users, columns=['sender'])
aidrop_users_df['type'] = 'Airdrop'

In [53]:
p1_users = user_stats_df.sender.unique()
p1_users_df = pd.DataFrame(p1_users, columns=['sender'])
p1_users_df['type'] = 'Phase1'

In [54]:
users_type = aidrop_users_df.append(p1_users_df)
users_type = users_type.merge(users_type.groupby('sender').type.count().rename('n_types').reset_index(), on=['sender'], how='left')
users_type['new_type'] = users_type.apply(lambda row: row.type if row.n_types==1 else 'Airdrop/Phase1', axis=1)
users_type = users_type[["sender","new_type"]].drop_duplicates()
users_type

C:\Users\aincerti\AppData\Local\Temp\ipykernel_21808\669479942.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  users_type = aidrop_users_df.append(p1_users_df)

                                             sender        new_type
0      terra162qqrygw52g5xuyj8dq2yqzhfcj6xh67kpxrgl  Airdrop/Phase1
1      terra18gle75g784wy9ypr80f4h5acv6k4q92s6a9lec         Airdrop
2      terra1rzzw44nynvnx5cxf5l5qjhn7d5xanzt4w89cde  Airdrop/Phase1
3      terra1k39fz62jerndn7d2m22y48up27h0jg9krjeqts         Airdrop
4      terra1fx3ptszq8kjh2uxhvs6n4cm84rcx52082a4nmv  Airdrop/Phase1
...                                             ...             ...
11574  terra1yxdgs7dcp9wmnu7azgg9l5avxh2tzv5v978m9x          Phase1
11575  terra1tcy4dm664q8ggt4sx7x75hfk4h4ha70gqzm6fc          Phase1
11576  terra1xcsmh4ythah69w4yjlfgxyes0k43a0rf8t6rm6          Phase1
11577  terra10evlz5sd49lph3auurq4xw6d40ydywg6ycjnte          Phase1
11578  terra1ely6yv0sfyq8szwhk3ade6ml926athndyrmjvw          Phase1

[11150 rows x 2 columns]

**LBA Mars origin**

In [55]:
lba_deposits_df['origin'] = lba_deposits_df.airdrop.apply(lambda x: 'Airdrop' if x else 'Phase 1')
lba_deposits_df['origin'] = lba_deposits_df.airdrop.apply(lambda x: 'Airdrop' if x else 'Phase 1')
mars_source = lba_deposits_df[lba_deposits_df.denom=='MARS'].groupby('origin').amount.sum()
mars_source = mars_source.reset_index()
mars_source

    origin        amount
0  Airdrop  1.967190e+06

**Metrics**

In [56]:
mars_source = users_type.merge(lba_deposits_df[lba_deposits_df.denom=='MARS'], on='sender').groupby('new_type').amount.sum()
mars_source = mars_source.reset_index()
mars_source

         new_type        amount
0  Airdrop/Phase1  6.103758e+05
1          Phase1  1.242758e+06

In [57]:
users_aidrop_eligible = 66103
perc_airdrop_eligible = len(airdrop_claims_df.sender.unique())/users_aidrop_eligible
perc_airdrop_eligible

0.008395988079209719

In [58]:
#Phase 1 + airdrop
mars_total = 60000000
mars = lba_deposits_hourly_df[lba_deposits_hourly_df.denom=='MARS']
act_mars_lba = mars[mars.hour == mars.hour.max()]["cumsum"].values[0]
perc_mars_in_lba = act_mars_lba/mars_total
perc_mars_in_lba

0.0327865034802

In [59]:
usts = lba_deposits_hourly_df[lba_deposits_hourly_df.denom=='UST']
act_usts_lba = usts[usts.hour == mars.hour.max()]["cumsum"].values[0]
act_price = act_mars_lba/act_usts_lba
act_price

2.013116482888786

In [60]:
users_p1 = len(user_stats_df.sender.unique())
users_p1_lba = len(set(user_stats_df.sender.unique()).intersection(set(lba_deposits_df.sender.unique())))
perc_p1_lba = users_p1_lba/users_p1
perc_p1_lba

0.0985123367198839

**P1 MARS rewards**

In [61]:
boost = pd.DataFrame([1,2.8,5.2,8,11.2,14.7],columns=['boost'],index=[3,6,9,12,15,18])

In [62]:
boost = user_stats_df.groupby('duration').sum().join(boost)
boost['amount_boosted'] = boost.amount * boost.boost

In [63]:
boost['amount_boosted_mars'] = (boost['amount_boosted']/boost['amount_boosted'].sum())*50000000

In [64]:
boost['amount_per_ust'] = boost['amount_boosted_mars']/boost.amount
boost

,amount,boost,amount_boosted,amount_boosted_mars,amount_per_ust
duration,,,,,
3,1.977154e+07,1.0,1.977154e+07,4.113477e+05,0.020805
6,1.332115e+07,2.8,3.729923e+07,7.760120e+05,0.058254
9,1.269689e+07,5.2,6.602382e+07,1.373628e+06,0.108186
12,7.532144e+06,8.0,6.025715e+07,1.253653e+06,0.166440
15,1.681632e+06,11.2,1.883428e+07,3.918480e+05,0.233016
18,1.497332e+08,14.7,2.201078e+09,4.579351e+07,0.305834

In [65]:
user_stats_df = user_stats_df.merge(boost.reset_index()[['duration','amount_per_ust']], on=['duration'])
user_stats_df['mars'] = user_stats_df.amount * user_stats_df.amount_per_ust
user_stats_df

,amount,duration,sender,amount_per_ust,mars
0,85.000000,12,terra1fwwsapmqscgwjqlkpguetuvuky90f665y4r5ef,0.166440,14.147429
1,250.070000,12,terra19muvlck4crguc80cpknx3y7nt6q4mv7t9ytu30,0.166440,41.621736
2,100.000000,12,terra1vsmlhqqnhzteldsv9248vsr22z9udrw8tnj6g7,0.166440,16.644034
3,3500.000000,12,terra1d3cnnjt8al4jt9eupfu2e7jjergh2u0nt7q3nj,0.166440,582.541192
4,1000.000000,12,terra1z65ctzjmzwjflg3ymmszgg85r3wsf46gxkurrv,0.166440,166.440341
...,...,...,...,...,...
13585,400.000000,3,terra1jvrav5gnh2mmzmv8zxul90rm3rkjyn7ffmenk5,0.020805,8.322017
13586,8.400005,3,terra163gn74ypdtl3eefw4pymgk9td7cszc09ey75tl,0.020805,0.174762
13587,250.000000,3,terra10hgjpaqpf5er90rd2cqktvjav555hpeljg5t2e,0.020805,5.201261
13588,500.000000,3,terra1ca87xa39tgkq87hjvnlrm5fwd4z7q8x0l7z6tr,0.020805,10.402521
13589,1000.000000,3,terra178323rw4h4pehlprxzek8dcteytd40d486rfuu,0.020805,20.805043

**% il LBA from P1 for each user**

In [66]:
user_p1_mars = user_stats_df.groupby('sender').mars.sum()

In [67]:
lba_deposits_df

,action,airdrop,amount,denom,sender,time,hour,origin
0,deposit,NaN,4057.112644,MARS,terra1xx7fuk6gsejdc7zm9gwylljpt7slvj92eulslw,2022-02-28 11:00:00,2022-02-28 11:00,Airdrop
1,deposit,NaN,5.074232,MARS,terra1077ptrmznztlyvh8wskvngf999cmh7y2r7lmum,2022-02-28 11:00:00,2022-02-28 11:00,Airdrop
2,deposit,NaN,389.962876,MARS,terra1rnqzjlp56xxxf5zfsyhqx88nhr97e5w5t3uuwe,2022-02-28 12:00:00,2022-02-28 12:00,Airdrop
3,deposit,NaN,29.836486,MARS,terra14wcmxm3ygz8lqkdk60mldua0mplgr4glwwhzve,2022-02-28 15:00:00,2022-02-28 15:00,Airdrop
4,deposit,NaN,3000.000000,UST,terra1qr2ucwumpt8cenp8n2hvqn020ffd87900j3gd6,2022-02-28 12:00:00,2022-02-28 12:00,Airdrop
...,...,...,...,...,...,...,...,...
2217,deposit,NaN,12.500000,UST,terra105u5h25u9755l80f9hmq4fh3svd2uv9fqr9ede,2022-02-28 13:00:00,2022-02-28 13:00,Airdrop
2218,deposit,NaN,300.929983,UST,terra1vkh2plfdllv4n36h8dvrhsc855gmcy0ca3s86w,2022-02-28 12:00:00,2022-02-28 12:00,Airdrop
2219,deposit,NaN,1148.000000,UST,terra1nv0yjaepaxq4d4jk3dcwvc5uam39tm4upzre55,2022-02-28 11:00:00,2022-02-28 11:00,Airdrop
2220,deposit,NaN,4.272423,UST,terra1hauljz6uqkxjaft52s0fr0wvk7fa0ja5ucmtmy,2022-02-28 12:00:00,2022-02-28 12:00,Airdrop
2221,deposit,NaN,0.027559,UST,terra1geplmyzdvj62ydh9exwenmt0yw5w7u7ynshz7y,2022-02-28 11:00:00,2022-02-28 11:00,Airdrop

In [69]:
user_p1_perc_mars = lba_deposits_df[lba_deposits_df.denom=='MARS'].groupby('sender').sum().join(user_p1_mars).fillna(0)
user_p1_perc_mars['perc_p1_mars_lba'] = user_p1_perc_mars.apply(lambda row: 0 if ((row.mars == 0) or (row.amount==0)) else row.amount / row.mars,axis=1)
user_p1_perc_mars[user_p1_perc_mars['perc_p1_mars_lba']>1]

,airdrop,amount,mars,perc_p1_mars_lba
sender,,,,
terra10j6ffumvahu0g0p055x6v5w462knm93csax7hs,0.0,298.364863,152.917063,1.951155
terra123hc3m5hdmplk88hzgq6ppl66t6czmcqjknfun,0.0,104.427702,68.812678,1.517565
terra138j6m7fmwujresz3l3gt6yxafft7a2dg9effxl,0.0,1193.459454,611.668252,1.951155
terra1508nd2tgtu7a3tgecqvrme5n82tugejzv0uvdt,0.0,322.234052,165.150428,1.951155
terra162cxa76zpvag4a05da0yhu69awfy35w8pws625,0.0,412.027668,152.917063,2.694452
terra16jyajpsfsmfj4ergvmlnf4mw9qg30hg9d2us7n,0.0,149.182431,76.458531,1.951155
terra18fy5f6ewfu86q7py36awfwv33edmjpth49agnh,0.0,44.754729,32.112583,1.393682
terra19lczqnlk3enflqaelqu9uv8wwlxtzlkygtnacc,0.0,2088.554045,1835.004755,1.138174
terra1axxyw9edap0m37r2tysnqdhynsxwr3h4c0k7em,0.0,152.653206,143.991700,1.060153
terra1eyw0al56ng6ac3l60m8s0usdnsxekds7vr9h25,0.0,179.018918,91.750238,1.951155
terra1fcqm8x5uck35vtczmds9xmhc99vduw303pe06l,0.0,83.623347,55.133363,1.516747
terra1ge7pa83kvdvhwk04gqqtxjqz78qr2hkuhx6qpr,0.0,233.820626,178.507265,1.309866
terra1guu2enswhjkr885dr8egstucfrz6gz25hns0wn,0.0,596.729727,305.834126,1.951155
terra1hmgy6jrnahyhn02xhdhj8dewrlg7v7u4fygwac,0.0,12.609467,7.515822,1.677723
terra1jv0j5sc4szzpqeezrttvzwhpp3yq7aydjhv3eu,0.0,149.182431,91.750238,1.625962
terra1knek8l52erhqrsde9t2ag6n4fwysv3cfn3al0j,0.0,75.910515,47.227447,1.607339
terra1m4fvwk6d284usp5s66au5ktdd9sztpw5w3zflh,0.0,1518.382850,1323.377550,1.147354
terra1n38te0z35xtkpelt9qejld0l0y7gmm78cu2fc0,0.0,123.405330,65.327834,1.889016
terra1n7rsagg02l66up8gsgqzrk6enkp3pwsj8qqvnj,0.0,2983.648637,1529.170629,1.951155
terra1nmllxcca2pvn82sna4zsa2czs8mxx56fj4lr2a,0.0,29.836486,15.291706,1.951155
terra1nwhm8fm29zy9yge92atvs9zua6yg5eaucgf6x3,0.0,59.672972,30.583413,1.951155
terra1qdu9s02j8f22d8e2p7q3c4u5jknvutquw2z56j,0.0,1285.810483,735.458255,1.748312
terra1qeju75w2qhuqfwav7p3a6hdhtaee2g9kaaq3jn,0.0,1790.189182,917.502377,1.951155
terra1qh36m5vkjf49qal7dkjs9vv86g8wdh8qd4vtnk,0.0,1193.459454,611.668252,1.951155
terra1rdax5mnhuyecn5jmv2kc3tx9t5xkcwvc9mf5g9,0.0,5967.297274,3058.341258,1.951155
terra1s22gkwl6vp2jj6272vmdky0wfrxldp9acphntp,0.0,177.598132,29.127060,6.097359
terra1t6t2m75d6ej3jng2560aj95z4sqqt7cnna8wf7,0.0,1804.642244,1529.170629,1.180144
terra1ug8hzhttvdt9fcsr2fz7q9q6u9jqwyxrl4ksp3,0.0,184.842487,170.537244,1.083883
terra1utdeapanx9r0qu3h6x9v57jzh504faf5p0whkd,0.0,1193.459454,458.751189,2.601540
terra1v2mpw5psu3tmwv3nguf7vz9pu700gp5u49q2en,0.0,4.059385,2.080504,1.951154
terra1v5t6jeecedfy84qmem92wvce67mtqyuct9hjkl,0.0,149.182431,76.458531,1.951155
terra1vf68js50lm7acl38ga998x0wzxwdpdtxvapns8,0.0,2322.074279,799.021821,2.906146
terra1vg39t4m8j9vgm8yfdne5qps6mcggltaar7hj7h,0.0,3000.000000,1529.170629,1.961848
terra1vmjqsuuvgc7d4ne9lrzt2p8nwlr4ckt6ryapa7,0.0,24.154854,15.291706,1.579605
terra1w0vt7s0lc2x2vnag6egy8v4z7p9r6uzsrnnwzv,0.0,500.000000,305.834126,1.634873
terra1yjvgwnaa0rd77q08l7upuudtpdsgt50qmgjjht,0.0,5.683140,2.912706,1.951155

**APR P2**

In [60]:
tot_mars_rewards = 5000000
tot_ust_rewards = 5000000
price = 0.2
amount_ust_input = 10
amount_mars_input = 10

In [61]:
ust_apr = tot_ust_rewards*price/act_usts_lba
ust_apr

8333.333333333334

In [62]:
mars_apr = tot_mars_rewards/act_mars_lba
mars_apr

11792.452830188678

In [63]:
df = pd.DataFrame([[mars_apr,ust_apr],['MARS','UST']]).T
df.columns = ['ROI','Token']
roi_phase_2 = df

In [64]:
ust_rewards_input = tot_ust_rewards/(act_usts_lba+amount_ust_input)*amount_ust_input
ust_rewards_input

384615.3846153846

In [65]:
mars_rewards_input = tot_mars_rewards/(act_mars_lba+amount_mars_input)*amount_mars_input
mars_rewards_input

115207.3732718894

**What have users deposited**

In [66]:
df = lba_deposits_df.groupby(['sender','denom']).amount.sum().reset_index()
df2 = df[df.amount>0].groupby('sender').denom.count().rename('n_denom')
df3 = df.merge(df2.reset_index(), on='sender')
df3['dep_type'] = df3.apply(lambda row: row.denom if row.n_denom==1 else 'MARS & UST', axis=1)

In [67]:
user_dep_type = df3.groupby(['dep_type']).sender.count().reset_index()
user_dep_type

     dep_type  sender
0        MARS       3
1  MARS & UST       4

In [68]:
def get_max_domain_date(df, time_field, n_hours):
    if((pd.Timestamp(df[time_field].max()) - 
                pd.Timestamp(df[time_field].min())).total_seconds()/3600 < n_hours):
        max_date = (pd.Timestamp(df[time_field].min()) + pd.to_timedelta(n_hours, unit='h')).strftime("%Y-%m-%dT%H:%M:%SZ")
    else:
        max_date = df[time_field].max()
    return max_date

### Charts

In [69]:
roi_phase_2['% ROI'] = roi_phase_2.ROI.apply(lambda x: '% ' + str(round(x,2)))

In [70]:
roi_phase_2_chart = alt.Chart(roi_phase_2).mark_bar().encode(
            y=alt.Y("ROI"),
            x=alt.X('Token', sort="ascending",axis=alt.Axis(labelAngle=0)),
            tooltip=['Token:Q',"ROI:Q"],
            color=alt.Color('Token:O',
                        scale=alt.Scale(scheme='lightorange'),
                        legend=None),
        )
text = roi_phase_2_chart.mark_text(
                align='center',
                baseline='middle',
                dy=-15,  # Nudges text to right so it doesn't appear on top of the bar
                fontSize=25
            ).encode(
                text='% ROI:N'
            )

(roi_phase_2_chart + text).properties(width=300).configure_view(strokeOpacity=0)

alt.LayerChart(...)

In [71]:
user_p1_perc_mars.columns = ['MARS locked in Phase 2','MARS obtained from Phase 1','Percentage of MARS deposited from Phase 1']
user_p1_perc_mars_chart = alt.Chart((user_p1_perc_mars)).mark_bar().encode(
    x=alt.X('Percentage of MARS deposited from Phase 1', sort="ascending", bin=True),
    y="count()",
    tooltip=['Percentage of MARS deposited from Phase 1','count()'],
    color=alt.Color(scale=alt.Scale(scheme='redpurple'),legend=None),
).configure_mark(color='#f58766').properties(height=300).configure_view(strokeOpacity=0)
user_p1_perc_mars_chart

alt.Chart(...)

In [88]:
user_p1_perc_mars['fake'] = 'Phase1 & Phase 2 participants'

In [89]:
alt.Chart(user_p1_perc_mars).mark_boxplot(extent='min-max').encode(
                        y=alt.X(field="fake", axis=alt.Axis(labelAngle=-90, title='')),
                        x='Percentage of MARS deposited from Phase 1:Q'
).configure_view(strokeOpacity=0)

alt.Chart(...)

In [72]:
user_dep_type

     dep_type  sender
0        MARS       3
1  MARS & UST       4

In [73]:
user_dep_type.columns = ['What users have deposited','Number of Users']
user_dep_type_chart = alt.Chart(user_dep_type).mark_arc(innerRadius=60).encode(
    theta=alt.Theta(field="Number of Users", type="quantitative"),
    color=alt.Color(field="What users have deposited", type="nominal",
            sort=['MARS & UST','MARS','UST'],
            scale=alt.Scale(scheme='lightorange'),
            legend=alt.Legend(
            orient='none',
            padding=10,
            legendY=-10,
            direction='vertical')),
    tooltip=['What users have deposited','Number of Users']
).configure_view(strokeOpacity=0)
user_dep_type_chart

alt.Chart(...)

In [74]:
lba_deposits_hourly_df

  denom              hour  amount  cumsum
0   UST  2021-09-21 08:00     130     130
1   UST  2021-09-21 09:00     -10     120
0  MARS  2021-09-21 08:00     160     160
1  MARS  2021-09-21 09:00     264     424

In [75]:
domain = ['MARS','UST']
range_ = ['#f9bf94','#a72327']
lba_deposits_hourly_df.columns = ['Token','Time','Amount_','Amount']
max_date = get_max_domain_date(lba_deposits_hourly_df,'Time',10)
lba_deposits_hourly_df_chart = alt.Chart(lba_deposits_hourly_df).mark_line(point = True).encode(
    x=alt.X('Time:T',scale=alt.Scale(domain=(lba_deposits_hourly_df.Time.min(),max_date))),
    y=alt.X('Amount:Q',scale=alt.Scale(domain=(0,lba_deposits_hourly_df['Amount'].max()+10))),
    color=alt.Color('Token:N', 
                sort=domain,
                scale=alt.Scale(domain=domain, range=range_),
                legend=alt.Legend(
                            orient='none',
                            padding=5,
                            legendY=0,
                            direction='horizontal')),
    tooltip=[alt.Tooltip('Time:T', format='%Y-%m-%d %H:%M'),'UST deposited:Q','Lockup period:N']
).properties(height=400).configure_view(strokeOpacity=0)
lba_deposits_hourly_df_chart

alt.Chart(...)

In [76]:
mars_source

         new_type  amount
0         Airdrop     132
1  Airdrop/Phase1     160
2          Phase1     132

In [77]:
mars_source.columns = ['User Participation','Amount of MARS locked in Phase 2']
mars_source_chart = alt.Chart(mars_source).mark_arc(innerRadius=60).encode(
    theta=alt.Theta(field="Amount of MARS locked in Phase 2", type="quantitative"),
    color=alt.Color(field="User Participation", type="nominal",
            sort=['Airdrop/Phase1','Phase1','Airdrop'],
            scale=alt.Scale(scheme='lightorange'),
            legend=alt.Legend(
            orient='none',
            padding=10,
            legendY=-10,
            direction='vertical')),
    tooltip=['User Participation','Amount of MARS locked in Phase 2']
).configure_view(strokeOpacity=0)
mars_source_chart

alt.Chart(...)